
.octocat {
  display: inline-block;
  position: relative;
  margin: 2.5%;
  
  max-width: 28%;
}
.octocat img {
  max-width: 100%;
  display: inline-block;
  border: 1px solid gray;
  
  
}
.image-number {
  
  display: inline-block;
  margin: 2px;
  padding: 0px 0px 8px 0px;
  float: left;
}
.image-caption {
  float:right;
  display: inline-block;
  }
.image-caption a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.image-footer {
  border-bottom: 1px solid gray;
  height: 30px;
}



.authors {
  display: inline-block;
  float: right;
}
.image-footer img {
  height: 25px;
  width: 25px;
  display: inline-block;
  float: right;
  margin-left: 3px;
  margin-right: 0px;
  margin-bottom: 5px;
  border: none;

}
.authors li {
  display: inline-block;
  list-style: none;
}
.authors {
  padding: 2px;
}
.image-footer span{
  margin-top: 10px;
}